* {
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  background: #f6f7fb;
  font-family: map-get($map: $font-family, $key: 'sans');
  line-height: 21px;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}
