.h {
  &-container {
    width: 100%;
    max-width: $container-width;
  }

  &-shadow {
    &--word {
      box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
    }
    &--bus {
      box-shadow: 0px 2px 4px rgba(13, 11, 12, 0.2);
    }
    &--blur {
      filter: blur(11px);
    }
  }
}
